# .idea 폴더 및 모든 하위 파일, XML 포함해서 제외
.idea/
.idea/**

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# 다른 파일 설정
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# 환경 변수 설정 파일
.env
*.env
.env.*

# 가상 환경
venv/
.venv/
env/
ENV/

# macOS 파일
.DS_Store

# 편집기 설정 (.idea 제외)
.vscode/

# Jupyter 노트북 체크포인트
.ipynb_checkpoints

# 로그 파일
*.log

# 테스트 및 커버리지 파일
.coverage
htmlcov/
*.cover
.coverage.*
.cache
nosetests.xml
coverage.xml
*.coveragerc
.pytest_cache/

# Mypy
.mypy_cache/

# Pylint
.pylint.d/

# 로컬 설정 파일
local_settings.py

# 빌드와 패키징 파일
dist/
build/
*.egg-info/
*.egg
*.whl

# Cython
*.c
*.cpp

# Pyre 타입 검사기
.pyre/

# FastAPI 프로젝트 특정 파일
instance/
generated/
staticfiles/
media/
uploads/
__pypackages__/
